[include]
    path = ~/.gitconfig.local

[color]
    ui = true
    diff = true
	quotepath = false

[color "branch"]
	current = cyan reverse
	local = yellow
	remote = magenta

; [color "diff"]
;     meta = yellow bold
;     frag = magenta bold
;     old = red reverse
;     new = green reverse
;     whitespace = white reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan reverse
	branch = magenta

[core]
	autocrlf = input
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
	pager = less -R

[alias]
	br = branch
	brv = branch -av
	br-new = "!f() { [ -z \"$1\" ] && exit 1; git checkout -b $1 && git push -u origin $1; }; f"
	br-del = "!f() { [ -z \"$1\" ] && exit 1; git br -D $1 && git push --delete origin $1; }; f"
	a = add
	c = commit
	cp = cherry-pick -x
	co = checkout
	d = diff
	ds = diff --staged
	dt = difftool -d 
	dts = difftool -d --staged 
	h = help
	l = log --date-order -C -M --pretty=format:\"%C(green)%h %C(reset)[%ad] %C(yellow)%an %C(cyan reverse)%d%C(reset) %s\" --date=short
    graph = log --graph --date-order -C -M --pretty=format:\"%C(green)%h %C(reset)[%ad] %C(yellow)%an %C(cyan reverse)%d%C(reset) %s\" --date=short
    grapha = log --graph --date-order -C -M --pretty=format:\"%C(green)%h %C(reset)[%ad] %C(yellow)%an %C(cyan reverse)%d%C(reset) %s\" --date=short --all
	pl = pull
	pr = pull --rebase
	ps = push
	s = status -sb
	ss = stash
	contains = branch -r --contains
	subup = submodule update
	subpl = submodule foreach 'git checkout master && git pull origin master'
	coclean = !git checkout . && git clean -fd
	ignore = "!f() { [ -z \"$1\" ] && exit 1; curl http://gitignore.io/api/$1 ;}; f"
	amend = commit --amend --no-edit

[help]
	autocorrect = 30
[push]
	default = current
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[diff]
	tool = vim-diff
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "vim-diff"]
	cmd = vim -f '+next' '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE
[merge]
	tool = sourcetree
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
