[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/sejaeger/vim-pathogen.git
    ignore = untracked
[submodule ".vim/bundle/quickrun"]
	path = .vim/bundle/quickrun
	url = git://github.com/thinca/vim-quickrun.git
    ignore = untracked
[submodule ".vim/bundle/qfixhowm"]
	path = .vim/bundle/qfixhowm
	url = git://github.com/fuenor/qfixhowm.git
    ignore = untracked
[submodule ".vim/bundle/EnhCommentify"]
	path = .vim/bundle/EnhCommentify
	url = git://github.com/vim-scripts/EnhCommentify.vim.git
    ignore = untracked

[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
    ignore = untracked
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule ".vim/bundle/vimfiler"]
	path = .vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
    ignore = untracked
[submodule ".vim/bundle/git-vim"]
	path = .vim/bundle/git-vim
	url = git://github.com/motemen/git-vim.git
    ignore = untracked
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = untracked
[submodule ".vim/bundle/vim-smartchr"]
	path = .vim/bundle/vim-smartchr
	url = https://github.com/kana/vim-smartchr.git
    ignore = untracked

[submodule ".vim/bundle/vim-unite"]
	path = .vim/bundle/vim-unite
	url = git://github.com/Shougo/unite.vim.git
    ignore = untracked
