[user]
	name = yanagi_kenji
	email = yanagi_kenji@griphone.co.jp
[core]
    excludesfile = /Users/cp0008/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[color]
	ui = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[alias]
    br = branch
    ci = commit
    cia = commit -a
    co = checkout
    d = diff
    h = help
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    pl = pull
    pr = pull --rebase
    ps = push
    st = status
    ss = stash
    slog = log --no-merges --date=short --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s'
    vslog = log --no-merges --date=short --pretty='format:%h %cd %an%d %s'
    reset-head = reset --soft
    reset-index = reset --mixed
    reset-work = reset --hard

[core]
    autocrlf = false
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore
    #pager = vimcat
    #pager = vimpager
    pager = less -R
    #pager = less.sh
    quotepath = false

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    pager = true
    showbranch = auto
    status = auto
    ui = auto

[help]
    autocorrect = 10
[push]
	default = current
