# 全ファイルを一度無視
/*
# さらにdotfileを無視
/.*

Thumbs.db
desktop.ini
.DS_Store

# 無視したくないファイルを![filename]で指定
!/.bashrc
!/.zshrc
!/.zshenv
!/.gvimrc
!/.vimrc
!/.vim
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.tmux.conf
!/install.sh
!/install.bat
!/.zsh
!/syntax
!/bin

/.vim/bundle/*
/.vim/test.*
/.vim/doc/*
/.vim/php_doc/*
/.vim/swap/*
/.vim/backup/*
/.vim/.netrwhist
/.vim/.netrwhist.clean
/.vim/.neomru_direcroty
/.vim/.neomru_file
