# 全ファイルを一度無視
/*
# さらにdotfileを無視
/.*

# 無視したくないファイルを![filename]で指定
!/.bashrc
!/.zshrc
!/.zshenv
!/.zprofile
!/.gvimrc
!/.xvimrc
!/.vimrc
!/.vim
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.jshintrc
!/.gemrc
!/.tmux.conf
!/install.sh
!/install.bat
!/.zsh
!/syntax
!/bin
!/.atom
!/private.xml
!/BlackTheme
!/Xcode

/.vim/colors/*
/.vim/bundle/*
/.vim/test.*
/.vim/doc/*
/.vim/php_doc/*
/.vim/swap/*
/.vim/backup/*
/.vim/.netrwhist
/.vim/.netrwhist.clean
/.vim/.neomru_direcroty
/.vim/.neomru_file

/.atom/.apm
/.atom/.node-gyp
/.atom/compile-cache
/.atom/npm-debug.log
/.atom/packages
/.atom/projects.cson
/.atom/storage
/.atom/local-history
/Xcode/UserData/IB Support/
