[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/sejaeger/vim-pathogen.git
[submodule ".vim/bundle/quickrun"]
	path = .vim/bundle/quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git

[submodule ".vim/bundle/qfixhowm"]
	path = .vim/bundle/qfixhowm
	url = git://github.com/fuenor/qfixhowm.git
[submodule ".vim/bundle/css_color"]
	path = .vim/bundle/css_color
	url = git://github.com/vim-scripts/css_color.vim.git
[submodule ".vim/bundle/EnhCommentify"]
	path = .vim/bundle/EnhCommentify
	url = git://github.com/vim-scripts/EnhCommentify.vim.git
